<!DOCTYPE html>
<html>

<%- include('../partials/head.ejs') %>  <!--  Incluye el HEAD y se usan los .. (dos puntos) para que salga de la carpeta user y vaya a partials -->

<body>

<%- include('../partials/header.ejs') %>  <!--  Incluye el HEADER y se usan los .. (dos puntos) para que salga de la carpeta user y vaya a partials -->

    <form action="/products/create" method="POST" class="formularioLog" enctype="multipart/form-data">
        <h2>CREACION DE PRODUCTO NUEVO!</h2>

        <div class="control-formulario">
            <label for="nombreDeProducto">Nombre de Producto</label>
                <input
                    type="text"
                    name="nombre"
                    class="control-especifico">

        </div>
    
        <div class="control-formulario">
            <label for="descripción">Descripción</label>
                <input type="text" 
                name="descripcion" 
                class="control-especifico">

        </div>

        <div class="control-formulario">
            <label for="categoria">Categoria</label>
                <select name= "categoria">
                    <% categorias.forEach(categoria=>{ %>  <!-- para cada elemento de la tabla de categoria -->
                        <option value="<%= categoria.id%>">  <!-- las opciones seran los id -->
                    <%= categoria.nombre %>     <!-- el .nombre es por "nombre" del modelo de categoria -->
                        </option>
                    <% }) %>
                </select>
        </div>

        <div class="control-formulario">
            <label for="categoria">Marca</label>
                <select name= "marca">
                    <% marcas.forEach(marca=>{ %>  <!-- para cada elemento de la tabla de categoria -->
                    <option value="<%= marca.id%>">  <!-- las opciones seran los id -->
                    <%= marca.nombre %>     <!-- el .nombre es por "nombre" del modelo de categoria -->
                    </option>
                    <% }) %>
                </select>
        </div>

        <div class="control-formulario">
            <label for="precio">Precio</label>
                <input 
                type="text" 
                name="precio" 
                class="control-especifico">

        </div>
    
        <div class="control-formulario">
            <label for="genero">Genero</label>
                <select name= "genero">
                    <% generos.forEach(genero=>{ %>  <!-- para cada elemento de la tabla de categoria -->
                    <option value="<%= genero.id%>">  <!-- las opciones seran los id -->
                    <%= genero.nombre %>     <!-- el .nombre es por "nombre" del modelo de categoria -->
                    </option>
                    <% }) %>
                </select>
        </div>
        
        <div class="control-formulario">
            <label for="deporte">Deporte</label>
                <select name= "deporte">
                    <% deportes.forEach(deporte=>{ %>  <!-- para cada elemento de la tabla de categoria -->
                    <option value="<%= deporte.id%>">  <!-- las opciones seran los id -->
                    <%= deporte.nombre %>     <!-- el .nombre es por "nombre" del modelo de categoria -->
                    </option>
                    <% }) %>
                </select>
        </div>
        
        <div class="control-formulario">
            <label for="talle">Talle</label>
                <select name= "talle">
                    <% talles.forEach(talle=>{ %>  <!-- para cada elemento de la tabla de categoria -->
                    <option value="<%= talle.id%>">  <!-- las opciones seran los id -->
                    <%= talle.talle %>     <!-- el .nombre es por "nombre" del modelo de categoria -->
                    </option>
                    <% }) %>
                </select>
        </div>


        <div class="botonesCreacion">
            <div class="subirFotoProducto">
                <input 
                type="file" 
                name= "imagen" 
                class="botones">SUBIR IMAGEN DEL PRODUCTO
                <% if (locals.errors && errors.imagen) {%>   <!-- Si en las variables locales vino errors y si en erros vino un error en imagen -->
                    <div class="text-danger">
                        <p><%= errors.imagen.msg %></p> <!-- muestra el mensaje que debe subir una imagen -->
                    </div>
                <% } %>  
            </div>

                <br>    
            
            <div class="subirProducto">
                <button type="submit" class="botones">SUBIR PRODUCTO</button>
            </div>
        </div>
    
</form>


<%- include('../partials/footer.ejs') %>  <!--  Incluye el FOOTER y se usan los .. (dos puntos) para que salga de la carpeta user y vaya a partials -->

</body>
</html>