<!DOCTYPE html>

<html>
    <%- include('../partials/head.ejs') %> <!--  Incluye el HEAD y se usan los .. (dos puntos) para que salga de la carpeta user y vaya a partials -->

<body>

    <%- include('../partials/header.ejs') %>  <!--  Incluye el HEADER y se usan los .. (dos puntos) para que salga de la carpeta user y vaya a partials -->

    <main class="mainDetalle">

        <div class="CajaMasterDetalle">
            
            <div class="cajaIzquierda">
                <div class="cajaImagenDetalle">
                    <img src="/img/products/<%= producto.imagen %>">
                </div>
            </div>

            <div class="cajaDerecha">
            
                <div class="tituloDeporteDetalle"><%= producto.Deporte.nombre %></div>
                <div class="tituloProductoDetalle"><%= producto.nombre %></div>
                
                <div class="precioDetalle">$<%= producto.precio %></div>
                
                <div class="tarjetasDetalle"><i class="fas fa-credit-card"></i>
                    <div class="cuotas">3 Cuotas sin Interés!</div>
                </div>

                <div class="cambio"><i class="fas fa-exchange-alt"></i> Primer cambio gratis</div>
                
                <form action="/productCart/add/<%= producto.id %>" method="POST">
                    <div class="cajaSelectoraDetalle">
                        <div class="talleProducto">
                                Talle
                            <div class="cajaSelectora">
                                <select class= "selectTalleDetalle">
                                    <% talles.forEach(talle=>{ %>  <!-- para cada elemento de la tabla de categoria -->
                                    <option value="<%= talle.id%>">  <!-- las opciones seran los id -->
                                        <%= talle.talle %>     <!-- el .nombre es por "nombre" del modelo de categoria -->
                                    </option>
                                    <% }) %>
                                </select>
                            </div>
                        </div>
                        <div class="talleProductoDetalle">
                            <div>Cantidad</div>
                            <input class="inputTalleDetalle" type="number" name="cantidad" id="cantidad" value="1">
                        </div>
                    
                        <div class="cajaAgregarProducto">
                            <button class="botonAgregarProducto" type="submit"><i class="fas fa-shopping-cart"></i> AGREGAR AL CARRITO</button>
                        </div>
                    </div>
                </form>
                
                <div class="compartirRedes">
                    <i class="fas fa-share-alt"></i> Compartir
                        <div class="Redes">
                            <i class="fab fa-facebook-square"></i>
                            <i class="fab fa-instagram"></i>
                            <i class="fab fa-twitter-square"></i>
                        </div>
                </div>


                <div class="cajaEnvioGratis">
                    <div class="cajaCamioncito">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="cajaEnvio">
                        <div class="promoEnvio">ENVIO GRATIS A TODO EL PAIS  </div>
                        <div class="comprasSuperiores">EN COMPRAS SUPERIORES A $10.000</div>
                    </div>
                </div>

                <div class="InfoDetalle">
                    <p class="especificaciones">ESPECIFICACIONES</p>
                    <div>MARCA: <%= producto.Marca.nombre %></div>
                    <div>CATEGORIA: <%= producto.Categoria.nombre %></div> <!-- Categoria (como lo llame en el alias) -->
                    <div>GENERO: <%= producto.Genero.nombre %></div>
                </div>

                <div class="descripcionDetalle">
                    <p>DESCRIPCION: <%= producto.descripcion %></p>
                </div>

            </div>
        </div>

        <!--Botón de Editar Producto-->
        <% if (usuario.perfil_id == 1){ %> <!-- Si el usuario logueado es Administrador (perfil 1) puede ver este boton -->
            <div class="BotonDeEdición">
            <a href="/products/edit/<%= producto.id %>"><button type=button>EDITAR PRODUCTO</button></a>
            </div>
        <%}%>

    </main>

<%- include('../partials/footer.ejs') %>  <!--  Incluye el FOOTER y se usan los .. (dos puntos) para que salga de la carpeta user y vaya a partials -->

</body>

</html>