<!DOCTYPE html>

<html>
    <%- include('../partials/head.ejs') %> <!--  Incluye el HEAD y se usan los .. (dos puntos) para que salga de la carpeta user y vaya a partials -->

<body>

    <%- include('../partials/header.ejs') %>  <!--  Incluye el HEADER y se usan los .. (dos puntos) para que salga de la carpeta user y vaya a partials -->

    <main>

        <div class="CajaMasterDetalle">
            
            <div class="cajaIzquierda">
                <div class="cajaImagenDetalle">
                    <img class="fotoDetalle" src="/img/products/<%= producto.imagen %>">
                </div>
            </div>

            <form action="/productCart/add/<%= producto.id %>" method="POST">
                <div class="cajaDerecha">
                    <div class="tituloProductoDetalle">NOMBRE DEL PRODUCTO</div>
                    <div class="precioDetalle">  $21213</div>
                    <div class="tarjetasDetalle"><img src="/img/tarjetas.jpg" alt="tarjetas"></div>
                    <div class="InfoDetalle">
                        <p>MARCA: <%= producto.Marca.nombre %></p>
                        <p>DEPORTE: <%= producto.Deporte.nombre %></p>
                        <p>CATEGORIA: <%= producto.Categoria.nombre %></p> <!-- Categoria (como lo llame en el alias) -->
                        <p>GENERO: <%= producto.Genero.nombre %></p>
                    </div>

                    <div class="cajaSelectoraDetalle">
                        <div class="talleProducto">
                                Talle
                            <div class="cajaSelectora">
                                <select class= "selectTalleDetalle">
                                    <% talles.forEach(talle=>{ %>  <!-- para cada elemento de la tabla de categoria -->
                                    <option value="<%= talle.id%>">  <!-- las opciones seran los id -->
                                        <%= talle.talle %>     <!-- el .nombre es por "nombre" del modelo de categoria -->
                                    </option>
                                    <% }) %>
                                </select>
                            </div>
                        </div>
                        <div class="talleProductoDetalle">
                            <div>Cantidad</div>
                            <input class="inputTalleDetalle" type="number" name="cantidad" id="cantidad" value="1">
                        </div>
                        <div class="cajaAgregarProducto">
                            <button class="botonAgregarProducto" type="submit">AGREGAR AL CARRITO</button>
                        </div>
                    </div>
                    <div class="descripcionDetalle">
                        <p>DESCRIPCION: <%= producto.descripcion %></p>
                    </div>
                </div>
            </form>
        </div>

        <!--Botón de Editar Producto-->
        <% if (usuario.perfil_id == 1){ %> <!-- Si el usuario logueado es Administrador (perfil 1) puede ver este boton -->
            <div class="BotonDeEdición">
            <a href="/products/edit/<%= producto.id %>"><button type=button>EDITAR PRODUCTO</button></a>
            </div>
        <%}%>

    </main>

<%- include('../partials/footer.ejs') %>  <!--  Incluye el FOOTER y se usan los .. (dos puntos) para que salga de la carpeta user y vaya a partials -->

</body>

</html>