<!DOCTYPE html>
<html>

<%- include('../partials/head.ejs') %>  <!--  Incluye el HEAD y se usan los .. (dos puntos) para que salga de la carpeta user y vaya a partials -->

<body>

    <%- include('../partials/header.ejs') %>  <!--  Incluye el HEADER y se usan los .. (dos puntos) para que salga de la carpeta user y vaya a partials -->

        <form action="/products/edit/<%= producto.id %>" method="POST" class="formularioLog">
            
            <h2 class="editTitulo"><i class="fas fa-edit"></i> EDICIÓN DE PRODUCTO</h2> 
            
            <div class= "cajaPadreEdicion">

                <div class="cajaFotoDeProducto">
                    <img src="/img/products/<%= producto.imagen %>" alt="fotoDelProducto">
                </div>

                <div class="cajaEdicionIzquierda">
                    <label>Nombre de Producto</label>
                        <input 
                            class="form-control"
                            type="text" 
                            value= "<%= producto.nombre %>" 
                            name="nombre">

                    <label for="categoria">Categoria</label>
                        <select 
                            name= "categoria"
                            class="form-select">
                            <% categorias.forEach(categoria=>{ %>  
                                <option value="<%= categoria.id%>">  
                            <%= categoria.nombre %>     
                                </option>
                            <% }) %>
                        </select>

                    <label for="categoria">Marca</label>
                        <select 
                            name= "marca"
                            class="form-select">
                            <% marcas.forEach(marca=>{ %>  <!-- para cada elemento de la tabla de categoria -->
                            <option value="<%= marca.id%>">  <!-- las opciones seran los id -->
                            <%= marca.nombre %>     <!-- el .nombre es por "nombre" del modelo de categoria -->
                            </option>
                            <% }) %>
                        </select>
                    
                    <label for="genero">Genero</label>
                            <select 
                                name= "genero"
                                class="form-select">
                                <% generos.forEach(genero=>{ %>  <!-- para cada elemento de la tabla de categoria -->
                                <option value="<%= genero.id%>">  <!-- las opciones seran los id -->
                                <%= genero.nombre %>     <!-- el .nombre es por "nombre" del modelo de categoria -->
                                </option>
                                <% }) %>
                            </select>

                    <label for="deporte">Deporte</label>
                            <select 
                                name= "deporte"
                                class="form-select">
                                <% deportes.forEach(deporte=>{ %>  <!-- para cada elemento de la tabla de categoria -->
                                <option value="<%= deporte.id%>">  <!-- las opciones seran los id -->
                                <%= deporte.nombre %>     <!-- el .nombre es por "nombre" del modelo de categoria -->
                                </option>
                                <% }) %>
                            </select>
                </div>

                <div class="cajaEdicionDerecha">
                    
                    <label for="talle">Talle</label>
                        <select 
                            name= "talle"
                            class="form-select">
                            <% talles.forEach(talle=>{ %>  <!-- para cada elemento de la tabla de categoria -->
                            <option value="<%= talle.id%>">  <!-- las opciones seran los id -->
                            <%= talle.talle %>     <!-- el .nombre es por "nombre" del modelo de categoria -->
                            </option>
                            <% }) %>
                        </select>
                    
                    <label for="precio">PRECIO:</label>
                        <input 
                            class="form-control"
                            type="text" 
                            value= "<%= producto.precio %>" 
                            name="precio">
                        
                    <label for="descripción">DESCRIPCION:</label>
                        <textarea 
                            class="form-control"
                            name="descripcion" 
                            type="text" 
                            rows= "3" 
                            cols= "50">
                            <%= producto.descripcion %></textarea> <!-- rows (reglones) cols(letras por reglon) -->
                    
                    <div class="botonGuardarEdicion">
                        <button 
                            type="submit">GUARDAR PRODUCTO
                        </button>   
                    </div>
                    
                </div>

            </div>
                      
        

        </form> <!--  Cierre del formulario de edicion -->

        <form action="/products/delete/<%= producto.id %>" method="POST" class="formularioLog">
            
            <div class="botonEliminarProducto">
                <button 
                    type="submit">ELIMINAR PRODUCTO
                </button>
            </div>

        </form>
                    
    <%- include('../partials/footer.ejs') %>  <!--  Incluye el FOOTER y se usan los .. (dos puntos) para que salga de la carpeta user y vaya a partials -->

</body>

</html>