<!DOCTYPE html>
<html>
<%- include('../partials/head.ejs') %>  <!--  Incluye el HEAD y se usan los .. (dos puntos) para que salga de la carpeta user y vaya a partials -->

<body>
<%- include('../partials/header.ejs') %>  <!--  Incluye el HEADER y se usan los .. (dos puntos) para que salga de la carpeta user y vaya a partials -->
<main>
    <h1>Listado de Productos</h1>
    <div class="cajaDeProducto">
        <% products.forEach (function(products){ %>  <!-- para cada auto -->
            <a href="/products/details/<%=products.id %>"><img class= "FotoDelProducto" src="/img/products/<%= products.img %>" alt="Imagen del producto"></a> <!-- hipervinculo a producto segun id -->
            <ul>
                <li>Nombre:<%= products.nombre %> </li> <!-- Nombre de producto segun id -->
                <li>Descripcion:<%= products.descripcion %></li> 
                <li>Categoria:<%= products.categoria %></li> 
                <li>Marca:<%= products.marca %></li> 
                <li>Precio:$<%= products.precio %></li> 
            </ul>
        <% }) %>
    </div>
</main>


<%- include('../partials/footer.ejs') %>  <!--  Incluye el FOOTER y se usan los .. (dos puntos) para que salga de la carpeta user y vaya a partials -->
</body>
</html>