<!DOCTYPE html>
<html>
<%- include('../partials/head.ejs') %>  <!--  Incluye el HEAD y se usan los .. (dos puntos) para que salga de la carpeta user y vaya a partials -->

<body>
<%- include('../partials/header.ejs') %>  <!--  Incluye el HEADER y se usan los .. (dos puntos) para que salga de la carpeta user y vaya a partials -->
<main>
    <h1>Listado de Productos</h1>
    <div class="cajaDeProducto">
        <% products.forEach (function(product){ %>  <!-- para cada producto -->
            <a href="/products/details/<%=product.id %>"><img class= "FotoDelProducto" src="/img/products/<%= product.imagen %>" alt="Imagen del producto"></a> <!-- hipervinculo a producto segun id -->
            <ul>
                <li>
                    Nombre:<%= product.nombre %>  <!-- Nombre de producto segun id -->
                </li>
            </ul>
        <% }) %>
    </div>
</main>


<%- include('../partials/footer.ejs') %>  <!--  Incluye el FOOTER y se usan los .. (dos puntos) para que salga de la carpeta user y vaya a partials -->
</body>
</html>