<!DOCTYPE html>
<html>

<%- include('../partials/head.ejs') %>  <!--  Incluye el HEAD y se usan los .. (dos puntos) para que salga de la carpeta user y vaya a partials -->

<body>

    <%- include('../partials/header.ejs') %>  <!--  Incluye el HEADER y se usan los .. (dos puntos) para que salga de la carpeta user y vaya a partials -->

        <form action="/products/edit/<%= producto.id %>" method="POST" class="formularioLog" enctype="multipart/form-data">  <!-- enctype="multipart/form-data" es para poder actualizar ademas de la info la imagen  -->
            
            <h2 class="editTitulo"><i class="fas fa-edit"></i> EDICIÓN DE PRODUCTO</h2> 
            
            <div class= "cajaPadreEdicion">

                <div class="cajaFotoEdicionProducto">
                    <img src="/img/products/<%= producto.imagen %>" alt="fotoDelProducto">
                </div>

                <div class="cajaEdicionIzquierda">
                    <label><i class="fa fa-product-hunt"></i> Nombre de Producto</label>
                        <input 
                            class="form-control"
                            type="text" 
                            name="nombre"
                            value= "<%= producto.nombre %>">
                            <% if (locals.errors && errors.nombre) {%>   <!-- Si en las variables locales vino errors y si en erros vino un error en nombre -->
                                <div class="text-danger">
                                    <p><%= errors.nombre.msg %></p> <!-- muestra el mensaje que debe llenar el campo de nombre -->
                                </div>
                            <% } %>  

                    <label for="categoria"><i class="fas fa-running"></i> Categoria</label>
                        <select 
                            name= "categoria"
                            class="form-select">
                            <% categorias.forEach(categoria=>{ %>  
                                <option value="<%= categoria.id%>">  
                            <%= categoria.nombre %>     
                                </option>
                            <% }) %>
                        </select>

                    <label for="categoria"><i class="fas fa-copyright"></i> Marca</label>
                        <select 
                            name= "marca"
                            class="form-select">
                            <% marcas.forEach(marca=>{ %>  <!-- para cada elemento de la tabla de categoria -->
                            <option value="<%= marca.id%>">  <!-- las opciones seran los id -->
                            <%= marca.nombre %>     <!-- el .nombre es por "nombre" del modelo de categoria -->
                            </option>
                            <% }) %>
                        </select>
                    
                    <label for="genero"><i class="fas fa-venus-mars"></i> Genero</label>
                            <select 
                                name= "genero"
                                class="form-select">
                                <% generos.forEach(genero=>{ %>  <!-- para cada elemento de la tabla de categoria -->
                                <option value="<%= genero.id%>">  <!-- las opciones seran los id -->
                                <%= genero.nombre %>     <!-- el .nombre es por "nombre" del modelo de categoria -->
                                </option>
                                <% }) %>
                            </select>

                    <label for="deporte"><i class="fas fa-volleyball-ball"></i> Deporte</label>
                            <select 
                                name= "deporte"
                                class="form-select">
                                <% deportes.forEach(deporte=>{ %>  <!-- para cada elemento de la tabla de categoria -->
                                <option value="<%= deporte.id%>">  <!-- las opciones seran los id -->
                                <%= deporte.nombre %>     <!-- el .nombre es por "nombre" del modelo de categoria -->
                                </option>
                                <% }) %>
                            </select>
                </div>

                <div class="cajaEdicionDerecha">
                    
                    <label for="talle"><i class="fas fa-arrows-alt-v"></i> Talle</label>
                        <select 
                            name= "talle"
                            class="form-select">
                            <% talles.forEach(talle=>{ %>  <!-- para cada elemento de la tabla de categoria -->
                            <option value="<%= talle.id%>">  <!-- las opciones seran los id -->
                            <%= talle.talle %>     <!-- el .nombre es por "nombre" del modelo de categoria -->
                            </option>
                            <% }) %>
                        </select>
                    
                    <label for="precio"><i class="fas fa-money-check-alt"></i> PRECIO:</label>
                        <input 
                            class="form-control"
                            type="text" 
                            value= "<%= producto.precio %>" 
                            name="precio">
                        
                    <label for="descripción"><i class="fas fa-info-circle"></i> DESCRIPCION:</label>
                        <textarea 
                            class="form-control"
                            name="descripcion" 
                            type="text" 
                            rows= "3" 
                            cols= "50">
                            <%= producto.descripcion %></textarea> <!-- rows (reglones) cols(letras por reglon) -->

                    <!-- SECCION PARA EDICION DE IMAGEN
                    <label for="imagen">Sube la nueva imagen del producto: </label>
                        <input 
                            type="file"
                            name= "imagen" 
                            class="form-control"
                            id="imagen"  
                            value="<%= producto.imagen.filename %>"> <!--  El name "imagen" es importante usarlo en el archivo de routes products -->
                
                    <div class="botonGuardarEdicion">
                        <button 
                            type="submit">GUARDAR CAMBIOS
                        </button>   
                    </div>
                    
                </div>

            </div>
                      
        </form> <!--  Cierre del formulario de edicion -->

        <form action="/products/delete/<%= producto.id %>" method="POST" class="formularioLog">
            <div class="botonEliminarProducto">
                <button 
                    type="submit">ELIMINAR PRODUCTO
                </button>
            </div>
        </form>
                    
    <%- include('../partials/footer.ejs') %>  <!--  Incluye el FOOTER y se usan los .. (dos puntos) para que salga de la carpeta user y vaya a partials -->

</body>

</html>