<!DOCTYPE html>
<html>
         <%- include('../partials/head.ejs') %>  <!--  Incluye el HEAD y se usan los .. (dos puntos) para que salga de la carpeta user y vaya a partials -->
    <body>
        <%- include('../partials/header.ejs') %>  <!--  Incluye el HEADER y se usan los .. (dos puntos) para que salga de la carpeta user y vaya a partials -->
        
        <br>
        
        <div class="cajaBuscardorListado">ENCONTREMOS TU PRODUCTO!
            <form action= "/products/list/search" method="GET">
                <div class="buscar">
                    <input type="text" name= "search" placeholder=" ¿Qué estás buscando? "> <i type="submit" value="Search"></i>
                    <div class="iconoRunner">
                        <i class="fas fa-running"></i></i>
                    </div>
                </div>
            </form>
        </div>

        <br>    

        <div class="bodyProductsList">
            <% productos.forEach (function(producto){ %>  <!-- para cada producto -->
                <a href="/products/detail/<%=producto.id %>">    
                    <article class = "cajaDeProducto">
                        <div class="cajaFotoDeProducto">
                            <img src="/img/products/<%= producto.imagen %>" class="imageProduct" alt="Imagen del producto"> <!-- Foto del producto -->
                        </div>
                        
                        <div class="datosProducto">                          
                            <div class="deporteList"><%= producto.Deporte.nombre %></div>
                            <div class="nombreList"><%= producto.nombre %></div>  <!-- Nombre de producto segun id -->
                            <div class="precioList">$<%= producto.precio %></div>                           
                            <% if (usuario.perfil_id == 1){ %> <!-- Si el usuario logueado es Administrador (perfil 1) puede ver esos botones -->                           
                                <div class="BotonDeEdicionList">
                                    <a href="/products/edit/<%= producto.id %>"><button type=button class="botonEditList">EDITAR PRODUCTO</button></a>
                                </div>
                            <%}%>
                        </div>
                    </article>
                </a>        
            <% }) %>
        </div>
        
        <%- include('../partials/footer.ejs') %>  <!--  Incluye el FOOTER y se usan los .. (dos puntos) para que salga de la carpeta user y vaya a partials -->
    </body>
</html>