<header>
    
    <div class="caja-envios">
        ENVÍO GRATIS a todo el país, en compras superiores a $30.000 <i class="fas fa-truck"></i>
    </div>
    
    <div class="main-header">
        <div class="caja-logo">
            <a href="\"><img src = "\img\Logo.jpg" alt="Logo de SportsOnline" class="logo"></a> <!-- hipervinculo al index -->
        </div>

        <div class="barra-de-busqueda">
            <form action= "/products/list/search" method="GET">
                <input type="text" name= "search"  placeholder="¿Que estás buscando?" type="submit">
            </form>
        </div>

        <% if (locals.usuario){ %> <!-- Si el usuario esta logueado muestra lo siguiente -->
            <div class="headerLogueado">
                <div class="carritoTablet"><a href="/productCart"><i class="fas fa-shopping-cart"></i></a></div>
                <div class="avatarHeader">
                    <a href="/users/profile"><img src="/img/avatar/<%=usuario.avatar %>" class="imgHeaderAvatar"></a>
                </div>
                <div class="headerLogueadoOpciones">
                    <div><a href="/users/profile"><%= usuario.nombre %> <%= usuario.apellido %></a></div>
                    <div><a href="/users/logout">Cerrar sesión</a></div>
                    <div><a href="/productCart">Mis compras <i class="fas fa-shopping-cart"></i></a></div>  <!-- carrito de compras -->
                </div>
            </div>
        <% } else { %>    <!-- Si no esta logueado muestra lo siguiente -->
            <div class="iconoLoginTablet"><a href="/users/login"><i class="fas fa-user"></i></a></div>    
            <div class="headerSinLoguear">
                <div><a href="/users/register">Registrarse</a></div>
                <div><a href="/users/login">Iniciar sesión</a></div>
            </div>
        <% } %>
        
    </div>
      
    <nav class="menuHeader">
        <input type="checkbox" id="res-menu" checked>  <!-- checkbox para accionar "res-menu" (menu hamburguesa) -->
        <label for="res-menu">
            <i class="fa fa-bars" id="sign-two"></i> <!-- Menu hamburguesa -->
            <i class="fas fa-window-close" id="sign-one"></i> <!-- X de cierre de menu hamburguesa -->
        </label>
    
        <ul class="menuHorizontalHeader">
            <li><a href="/products/list">TODOS LOS PRODUCTOS</a></li>
            <li><a href="">HOMBRE <i class="fas fa-angle-down"></i></a>
                <ul class="menuVerticalHeader">
                    <li><a href="">Indumentaria</a></li>
                    <li><a href="">Calzado</a></li>
                    <li><a href="">Accesorios</a></li>
                </ul>
            </li>
            <li><a href="">MUJER <i class="fas fa-angle-down"></i></a>
                <ul class="menuVerticalHeader">
                    <li><a href="">Indumentaria</a></li>
                    <li><a href="">Calzado</a></li>
                    <li><a href="">Accesorios</a></li>
                </ul>
            </li>
            <li><a href="">DEPORTES <i class="fas fa-angle-down"></i></a>
                <ul class="menuVerticalHeader">
                    <li><a href="">Futbol</a></li>
                    <li><a href="">Tenis</a></li>
                    <li><a href="">Paddle</a></li>
                    <li><a href="">Running</a></li>
                    <li><a href="">Hockey</a></li>
                    <li><a href="">Training</a></li>
                    <li><a href="">Voley</a></li>
                </ul>
            </li>
        <% if (usuario.perfil_id == 1){ %> <!-- Si el usuario logueado es Administrador (perfil 1) puede ver esos botones -->
            <li><a href="/products/create">CREAR PRODUCTOS</a></li> 
            <li><a href="/users/list">USUARIOS</a></li>
        <%}%>
            <div class="headerUserTablet">
                <% if (locals.usuario){ %> <!-- Si el usuario esta logueado muestra lo siguiente -->
                    <li><a href="/users/profile"><%= usuario.nombre %> <%= usuario.apellido %></a></li>
                    <li><a href="/users/logout">Cerrar sesión</a></li>
                    <li><a href="/productCart">Mis compras <i class="fas fa-shopping-cart"></i></a></li>  <!-- carrito de compras -->     
                <% } else { %>    <!-- Si no esta logueado muestra lo siguiente -->
                    <div class="sinLoguearTablet">
                        <li><a href="/users/register">Registrarse</a></li>
                        <li><a href="/users/login">Iniciar sesión</a></li>
                    </div>
                <% } %>
            </div>
        </ul>
    </nav>

</header>



