<!DOCTYPE html>
<html>

<%- include('../partials/head.ejs') %>  <!--  Incluye el HEAD y se usan los .. (dos puntos) para que salga de la carpeta user y vaya a partials -->

<body>

<%- include('../partials/header.ejs') %>  <!--  Incluye el HEADER y se usan los .. (dos puntos) para que salga de la carpeta user y vaya a partials -->

<form method="POST" action= "/users/login" class="formularioLog">
    <div class="inicioSesion">
        <h2>INICIAR SESIÓN</h2>
    </div>

    <div class="control-formulario">
        <label for="nombreUsuario">Correo Electrónico</label>
            <input 
                type="text" 
                name="email" 
                id="nombreUsuario" 
                class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>"
                value="<%= locals.oldData ? oldData.email: null %>">    
                <% if (locals.errors && errors.email) {%>   <!-- Si en las variables locales vino errors y si en erros vino un error en email -->
                    <div class="text-danger">
                      <p><%= errors.email.msg %></p> <!-- muestra el mensaje que debe llenar el campo de email -->
                    </div>
                  <% } %>  
    </div>
    
    <div class="control-formulario">
        <label for="contraseña">Contraseña</label>
            <input type="password" 
            name="contraseña" 
            id="contraseña" 
            class="form-control <%= locals.errors && errors.contraseña ? 'is-invalid' : null %>">
            <% if (locals.errors && errors.contraseña) {%>   <!-- Si en las variables locales vino errors y si en erros vino un error en contraseña -->
                <div class="text-danger">
                  <p><%= errors.contraseña.msg %></p> <!-- muestra el mensaje que debe llenar el campo de contraseña -->
                </div>
              <% } %>  
    </div>
  
    <label class="recordarUsuario">
        <div class="recordarme"><input type="checkbox" name="recordarUsuario">Recordarme</div>
    </label>
    
    
    <div class="olvido">
        <a href="">¿Olvidaste tu contraseña?</a>
    </div>
    
    <br>
   
    <div class="botonDeLogin">
        <button type="submit" class="botonIngresar"><i class="fas fa-sign-in-alt"></i> Ingresar</button>
    </div>

</form>

<div class="formularioLog">

    <div class="loginFacebook">
    <button type="submit" class="botonFace"><i class="fab fa-facebook"></i> | Ingresar con Facebook</button>
    </div>

    <div class="loginGoogle">
    <button type="submit" class="botonGoogle"><i class="fab fa-google"></i> | Ingresar con Google</button>
    </div>

    <div class="crearCuenta">
    <a href="/users/register"><button type="submit" class= "botonCreaTuCuenta"><i class="fas fa-user-plus"></i> | Crea tu cuenta</button></a>
    </div>

</div>

<%- include('../partials/footer.ejs') %>  <!--  Incluye el FOOTER y se usan los .. (dos puntos) para que salga de la carpeta user y vaya a partials -->

</body>
</html>