<!DOCTYPE html>
<html>

<%- include('../partials/head.ejs') %>  <!--  Incluye el HEAD y se usan los .. (dos puntos) para que salga de la carpeta user y vaya a partials -->

<body>

<%- include('../partials/header.ejs') %>  <!--  Incluye el HEADER y se usan los .. (dos puntos) para que salga de la carpeta user y vaya a partials -->

    <h2>Bienvenido <%= user.nombre %> <%= user.apellido %></h2> 
        
        <div>
            <img src="/img/avatar/<%= user.avatar%>">
        </div>
    
            <div>
                <h3>Datos del Usuario</h3>
                    <ul>
                        <li>Nombre:<%= user.nombre %></li> 
                        <li>Apellido:<%= user.apellido %></li> 
                        <li>Email:<%= user.email %></li> 
                        <li>Domicilio:<%= user.domicilio %></li> 
                        <li>Categoria:<%= user.categoria %></li> 
                 </ul>
            </div>


<%- include('../partials/footer.ejs') %>  <!--  Incluye el FOOTER y se usan los .. (dos puntos) para que salga de la carpeta user y vaya a partials -->

</body>
</html>