<!DOCTYPE html>
<html>
   <%- include('../partials/head.ejs') %>  <!--  Incluye el HEAD  -->
    <body>
    <%- include('../partials/header.ejs') %>  <!--  Incluye el HEADER  -->
        <main>
            <h1>Listado de Usuarios</h1>
            
            <div class = "cajaDeUsuario">
                <% users.forEach (function(users){ %>  <!-- para cada usuario -->
                <div class="cajaFotoDePerfil">
                    <img class= "FotoDePerfil" src="/img/avatar/<%= users.avatar %>" alt="Foto de perfil">
                </div>
                    <ul>
                        <li>Nombre:<%= users.nombre %></li> 
                        <li>Apellido:<%= users.apellido %></li> 
                        <li>Email:<%= users.email %></li> 
                        <li>Domicilio:<%= users.domicilio %></li> 
                        <li>Categoria:<%= users.categoria %></li> 
                    </ul>
                    <form action="/users/delete/<%= users.id %>?_method=DELETE" method="POST">
                        <button class= "botones" type="submit">ELIMINAR USUARIO</button>
                    </form>
            </div>
                <% } ) %>
        </main>
    <%- include('../partials/footer.ejs') %>  <!--  Incluye el FOOTER  -->
    </body>
</html>