<!DOCTYPE html>
<html>
    <%- include('../partials/head.ejs') %>  <!--  Incluye el HEAD  -->
    <body>
        <%- include('../partials/header.ejs') %>  <!--  Incluye el HEADER  -->
    
            <h1><i class="fas fa-users"></i> Listado de Usuarios</h1>
                <div class="todosLosUsuarios">          
                    <% user.forEach (function(user){ %>  <!-- para cada usuario -->
                        <div class = "cajaDeUsuario">
                            <div class="cajaFotoDePerfil">
                                <img class= "FotoDePerfil" src="/img/avatar/<%=user.avatar %>" alt="Foto de perfil" width="50px">
                            </div>
                                <div class="datosUsuario">
                                    <ul>
                                        <li>Nombre: <%= user.nombre %></li> 
                                        <li>Apellido: <%= user.apellido %></li> 
                                        <li>Email: <%= user.email %></li> 
                                        <li>Pais: <%= user.pais %></li> 
                                        <li>Dirección: <%= user.direccion %></li> 
                                        <li>Codigo Postal: <%= user.codigo_postal %></li> 
                                        <li>Fecha de Nacimiento: <%= user.fecha_de_nacimiento %></li> 
                                        <li>Telefono: <%= user.telefono %></li>
                                        <li>Categoria: <%= user.Perfil.nombre %></li> 
                                    </ul>
                                </div>

                                <div class="elimUsuario">
                                    <form action="/users/delete/<%= user.id %>?_method=DELETE" method="POST">
                                        <button class= "botones" type="submit">ELIMINAR USUARIO</button>
                                    </form>
                                </div>
                    
                        </div>
                    <% } ) %>
                </div>
        <%- include('../partials/footer.ejs') %>  <!--  Incluye el FOOTER  -->
    </body>
</html>