<!DOCTYPE html>
<html>

<%- include('../partials/head.ejs') %>  <!--  Incluye el HEAD y se usan los .. (dos puntos) para que salga de la carpeta user y vaya a partials -->

  <body>

    <%- include('../partials/header.ejs') %>  <!--  Incluye el HEADER y se usan los .. (dos puntos) para que salga de la carpeta user y vaya a partials -->
     
    <form action="/users/edit/<%= usuario.id %>" method="POST" class="formularioLog">  

      <h2 class="editProfileTitulo"><i class="fas fa-user-cog"></i> EDITA TUS DATOS</h2> 

          <div class = "cajaPadreEditProfile">

            <div class="cajaAvatar">
              <img src="/img/avatar/<%= usuario.avatar%>">
            </div>

            <div class="cajaCentroDatos">
              <label><i class="fas fa-user"></i> Nombre:</label>
                <input 
                  type="text" 
                  name="nombre" 
                  class="form-control"
                  value="<%= usuario.nombre %>"> 

              <label><i class="fas fa-user-shield"></i> Apellido:</label>
                <input 
                  type="text"
                  name="apellido"
                  class="form-control"
                  value="<%= usuario.apellido %>"> 

              <label><i class="fas fa-calendar-alt"></i> Fecha de Nacimiento:</label>
                <input 
                  type="date"
                  name="fecha_de_nacimiento"
                  class="form-control <%= locals.errors && errors.fecha_de_nacimiento ? 'is-invalid' : null %>"
                  value="<%= usuario.fecha_de_nacimiento %>"> 

              <label><i class="fas fa-map-marker-alt"></i> Dirección:</label>
                <input 
                  type="text"
                  name="direccion"
                  class="form-control <%= locals.errors && errors.direccion ? 'is-invalid' : null %>"
                  value="<%= usuario.direccion %>"> 
      
            </div>

            <div class="cajaDerechaDatos">
              
              <label><i class="fas fa-paper-plane"></i> Codigo Postal:</label>
              <input 
                type="text"
                name="codigo_postal"
                class="form-control <%= locals.errors && errors.codigo_postal ? 'is-invalid' : null %>"
                value="<%= usuario.codigo_postal %>"> 
              
              <label><i class="fas fa-mobile-alt"></i> Telefono:</label>
                <input 
                  type="text"
                  name="telefono"
                  class="form-control <%= locals.errors && errors.telefono ? 'is-invalid' : null %>"
                  value="<%= usuario.telefono %>">
            
              <label><i class="fas fa-globe-americas"></i> Selecciona tu Pais:</label>
                <select 
                  name="pais"
                  class="form-select"> 
                  <%= locals.errors && errors.pais ? 'is-invalid' : null %>
                    <option value="<%= usuario.pais %>"></option><br>
                      <% let pais = ['Argentina', 'Brasil', 'Paraguay', 'Uruguay', 'Bolivia', 'Chile', 'Peru', 'Ecuador', 'Colombia', 'Mexico', 'Venezuela', 'Estados Unidos', 'Canada']; %>
                      <% for (const unPais of pais) { %>
                    <option value= "<%= unPais %>"
                      <%= locals.oldData && (unPais === oldData.pais) ? 'select' : null %> > <!-- NO FUNCIONA NOSE POR QUE, NO MANTIENE EL PAIS ELEGIDO AL ENVIAR VACIO LOS DEMAS CAMPOS -->
                      <%= unPais %>
                    </option>
                    <% } %>
                </select>
                  <% if (locals.errors && errors.pais) {%>   <!-- Si en las variables locales vino errors y si en erros vino un error en pais -->
                    <div class="text-danger">
                      <p><%= errors.pais.msg %></p> <!-- muestra el mensaje que debe llenar el campo de pais -->
                    </div>
                  <% } %>  
                
              <div>
                <label for="avatar">Sube tu nueva imagen de perfil: </label>
                  <input 
                    type="file"
                    name= "avatar" 
                    class="form-control"
                    id="avatar"  
                    value="<%= usuario.avatar.filename %>"> <!--  El name "avatar" es importante usarlo en el archivo de routes users -->
              </div>

            </div>
            
          </div>
          
          <div class="botonEditProfile">
            <button
              type="submit">GUARDAR CAMBIOS
            </button>
          </div>

      </form>

  <%- include('../partials/footer.ejs') %>  <!--  Incluye el FOOTER y se usan los .. (dos puntos) para que salga de la carpeta user y vaya a partials -->

  </body>
  
</html>